.nodisplay_98 {
    display: none !important;
}

.main {
    /* border: 1px solid green; */
    background-color: var(--background);
    min-width: 100%;
    min-height: 100%;
    /* border-radius: 5px; */
    padding: 0px;
    overflow: hidden;
    position: relative;
    font-family: 'Windows95', sans-serif;

    z-index: 0;
}

.highlightBox {
    color: inherit;
    position: absolute;
    border: 1px solid rgb(0, 65, 65);
    background-color: rgba(0, 194, 194, 0.25);
}

.button {
    background-color: var(--windows-grey);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    touch-action: manipulation;

    .buttonContent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .image {
            width: 20px;
            height: 15px;
            margin-left: 4px;
            display: inline;
            pointer-events: none;
        }

        .text {
            color: black;
            font-size: inherit;
            margin-left: 4px;
            margin-right: 4px;
            font-family: 'Windows95', sans-serif;
            letter-spacing: 1px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline;
        }
    }
}

.button.selected {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: inset -1px -1px #dfdfdf, -1px 0 #000, 0 -1px #000, -1px -1px #000;
}

.border {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: inset -1px -1px #dfdfdf, -1px 0 #000, 0 -1px #000, -1px -1px #000;
}

.divider {
    height: 10px;
}

.input {
    background-color: white;
    color: black;
    border: none;
    padding: 2px;
}

.input:focus {
    outline: none;
}

.textarea {
    background-color: white;
    color: black;
    border: none;
    padding: 2px;
    resize: vertical;
}

.textarea:focus {
    outline: none;
}

.inverseBoxShadow {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: inset -1px -1px #dfdfdf, -1px 0 #000, 0 -1px #000, -1px -1px #000;
    /* margin: 4px;
    box-shadow: -2px -2px black,
                -2px 0 black,
                0 -2px black,
                -4px -4px #75747a,
                -4px 0 #75747a,
                0 -4px #75747a,
                2px 2px #e3e3e3,
                0 2px #e3e3e3,
                2px 0 #e3e3e3,
                2px -2px #e3e3e3,
                -2px 2px #e3e3e3,
                -4px 2px #75747a,
                -4px 4px white,
                4px 4px white,
                4px 0 white,
                0 4px white,
                2px -4px #75747a,
                4px -4px white; */
}





.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--bottom-height);
    background-color: var(--windows-grey);
    box-shadow: inset 1px 0 #fff;
    user-select: none;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;

    display: flex;
    justify-content: space-between;

    z-index: 100;


    .leftContainer {
        order: 1;
    }

    .middleContainer {
        order: 2;
        flex-grow: 1;
        overflow-x: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .rightContainer {
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clock {
        color: black;
        margin: 0px 3px;
        padding: 0 6px;

        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
        box-shadow: inset -1px -1px #dfdfdf, -1px 0 #000, 0 -1px #000, -1px -1px #000;
    }

    .startBtnContainer,
    .windowBtnContainer {
        padding-top: 3px;
        padding-bottom: 2px;
        height: 100%;
        flex-shrink: 1;
        max-width: 200px;
        min-width: 45px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

    .taskbarButton {
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 3px;
        margin-right: 2px;
        height: 100%;

        display: flex;
        justify-content: center;

        box-sizing: border-box;

        &.startBtn {
            width: 70px;
            font-weight: bold;
            font-size: 14px;

            &.selected {
                .buttonContent img {
                    width: 18px;
                    height: 13px;
                }

                .buttonContent p {
                    font-size: 13px;
                }
            }
        }

        &.windowBtn {
            font-size: 13px;
            font-weight: bold;
        }
    }

}






.startMenu {
    z-index: 20000;

    position: absolute;
    bottom: calc(var(--bottom-height) - 1px);
    left: 2px;
    width: 200px;
    /* height: 200px; */
    background-color: var(--windows-grey);
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;

    .blueBar {
        background: linear-gradient(to bottom, #000080, #1084d0);
        display: inline-block;
        width: 25px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }

    .headline {
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        width: 150%;
        padding-top: 4px;
        padding-bottom: 3px;
        padding-left: 0px;
        color: white;
        position: absolute;
        bottom: 0;
        text-align: left;
        margin-bottom: -15px;

        font-weight: bold;

        .accountImage {
            display: none;
        }
    }

    .headline span {
        font-weight: normal;
    }

    .menu {

        .orange {
            display: none;
        }

        .menuContent {
            &.left {
                /* display: none; */
            }

            &.right {
                /* display: none; */
            }

            .item {
                margin-left: 25px;
                display: flex;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;
                color: black;

                .itemIcon {
                    width: 25px;
                    height: 25px;
                    margin-left: 6px;
                    pointer-events: none;
                }

                .itemText {
                    margin-left: 6px;
                    user-select: none;
                    pointer-events: none;
                }

                &.more::after {
                    content: "►";
                    position: absolute;
                    right: 7px;
                }

                &.more {
                    position: relative;

                    .dropdownContent {
                        display: none;
                        position: absolute;
                        list-style: none;
                        background-color: #bdbebd;
                        color: black;
                        border-left: 2px solid white;
                        border-top: 2px solid white;
                        border-right: 2px solid grey;
                        border-bottom: 2px solid grey;
                        box-sizing: border-box;

                        .dropdownItem {
                            display: flex;
                            align-items: center;
                            padding-top: 3px;
                            padding-bottom: 3px;
                            color: black;
                            font-size: 15px;
                            white-space: nowrap;

                            &.active {
                                background-color: var(--blue-dark);
                                color: white;

                                >.dropdownContent {
                                    display: block;
                                    top: -2px;
                                    left: 100%;
                                    min-width: 100%;
                                }
                            }

                            &.more::after {
                                content: "►";
                                position: absolute;
                                right: 7px;
                            }

                            .dropdownItemIcon {
                                width: 15px;
                                height: 15px;
                                margin-left: 5px;
                                pointer-events: none;
                            }

                            .dropdownItemText {
                                user-select: none;
                                margin-left: 7px;
                                margin-right: 5px;
                                pointer-events: none;
                            }
                        }
                    }

                    &.active {
                        background-color: var(--blue-dark);
                        color: white;

                        >.dropdownContent {
                            display: block;
                            top: -2px;
                            left: 100%;
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .startMenu {
        .menuContent {
            .item:hover {
                background-color: var(--blue-dark);
                color: white;
            }

            .item.more {
                .dropdownContent .dropdownItem:hover {
                    color: white;
                    background-color: var(--blue-dark);
                }
            }


        }
    }
}




.desktopIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 5px;
    overflow: hidden;

    width: 100px;
    height: 100px;

    position: absolute;
    z-index: 5;

    .imgWrapper {
        width: 45px;
        height: 45px;
        pointer-events: none;
        user-select: none;
        position: relative;
        /* background-color: red; */
    }

    .desktopIconImage {
        width: 45px;
        height: 45px;
        filter: none;
    }

    .desktopIconText {
        padding: 1px 2px;
        word-wrap: break-word;
        margin-top: 5px;
        flex-grow: 1;
        /* Allow the text to expand downward */
        font-size: 14px;
        line-height: 16px;
        max-height: 32px;
        pointer-events: none;
        user-select: none;

        font-family: 'Windows95', sans-serif;
        /* font-weight: bold; */
        letter-spacing: 1px;

        /* Limit to 2 lines by default */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        /* Ensure text doesn't overflow */
        overflow: hidden;


    }


    &.selected {
        /* background-color: var(--grey-light-hover); */
        height: auto;
        z-index: 6;

        .desktopIconImage {
            -webkit-filter: url(#blueoverlay);
            filter: url(#blueoverlay);
        }

        .desktopIconText {
            -webkit-line-clamp: unset;
            max-height: none;
            background-color: rgba(0, 0, 255, 0.65);
        }
    }
}




.window {
    z-index: 10;
    position: absolute;

    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-bottom-color: #131313;
    border-left-color: #fff;
    background: var(--grey-98);
    max-width: 100%;
    resize: both;
    min-width: 100px;
    min-height: 40px;

    display: flex;
    flex-direction: column;

    &.active {

        /* z-index: 90; */
        /* border-color: #1084d0; */
        .windowHeader {
            background: linear-gradient(to right, #000080, #1084d0);
        }
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .windowHeader {
        background: linear-gradient(to right, #000080, #1084d0);
        background: linear-gradient(to right, rgb(128, 128, 128) 0%, rgb(181, 181, 181) 100%);
        color: white;
        padding: 1px;
        margin: 1px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;

        .windowTitle {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            letter-spacing: 1px;
            /* display: inline-block; */
            display: flex;
            align-items: center;

            white-space: nowrap;
            /* Prevent text from wrapping */
            overflow: hidden;
            /* Hide the overflowing content */
            text-overflow: ellipsis;

            .windowIcon {
                width: 15px;
                height: 15px;
                margin-right: 1px;
                margin-left: 1px;
                display: inline;
                pointer-events: none;
            }

            .windowTitleText {
                height: 100%;
                display: flex !important;
                align-items: center;
                justify-content: center;

                display: inline;
                margin-left: 1px;
                font-size: 13px;
            }
        }

        .windowButtons {
            display: flex;
            align-items: center;
            /* Align items vertically in the middle */

            .windowButton {
                background: no-repeat center #ccc;
                height: 17px;
                width: 17px;
                margin-top: 1px;
                margin-bottom: 1px;
                margin-left: 2px;
                background-size: 80%;

                &.close {
                    background-image: url(/Assets/Images/Icons/close_icon.png);

                    &.selected {
                        background-size: 75%;
                    }
                }

                &.help {
                    background-image: url(/Assets/Images/Icons/question_icon.png);

                    &.selected {
                        background-size: 75%;
                    }
                }

                &.hide {
                    background-image: url(/Assets/Images/Icons/hide_icon.png);

                    &.selected {
                        background-size: 75%;
                    }
                }

                &.max {
                    background-image: url(/Assets/Images/Icons/max_icon.png);
                    background-size: 90%;

                    &.selected {
                        background-size: 85%;
                    }
                }

                &.min {
                    background-image: url(/Assets/Images/Icons/min_icon.png);
                    background-size: 90%;

                    &.selected {
                        background-size: 85%;
                    }
                }
            }
        }
    }

    .windowElements {
        display: flex;
        flex-direction: column;
    }

    .windowContent {
        flex: 1 1 auto;
        /* margin: 3px; */
        overflow: hidden;
    }

    .dragToResize {
        position: absolute;

        &.bottomRight {
            bottom: -2px;
            right: -2px;
            height: 6px;
            width: 6px;
        }

        &.bottomLeft {
            bottom: -2px;
            left: -2px;
            height: 6px;
            width: 6px;
        }

        &.topRight {
            top: -2px;
            right: -2px;
            height: 6px;
            width: 6px;
        }

        &.topLeft {
            top: -2px;
            left: -2px;
            height: 6px;
            width: 6px;
        }

        &.top,
        &.bottom {
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 99%;
        }

        &.left,
        &.right {
            top: 50%;
            transform: translateY(-50%);
            height: 99%;
            width: 5px;
        }

        &.top {
            top: -2px;
        }

        &.bottom {
            bottom: -2px;
        }

        &.left {
            left: -2px;
        }

        &.right {
            right: -2px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .window {
        .dragToResize {

            &.bottomRight:hover,
            &.topLeft:hover {
                cursor: nwse-resize;
            }

            &.bottomLeft:hover,
            &.topRight:hover {
                cursor: nesw-resize;
            }

            &.top:hover,
            &.bottom:hover {
                cursor: ns-resize;
            }

            &.left:hover,
            &.right:hover {
                cursor: ew-resize;
            }
        }
    }

}


.toolbar {
    width: 100%;
    position: relative;
    display: inline-flex;
    height: 20px;

    /* .menu::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-top: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    } */

    .item {
        font-size: 14px;
        height: 100%;
        position: relative;
        color: black;
        border: 1px solid transparent;
        box-sizing: border-box;

        .label {
            padding: 0px 8px;
            pointer-events: none;
            display: inline-block;
        }

        .label::first-letter {
            text-decoration: underline;
        }

        &.active {
            /* background: var(--blue-dark);
            color: white; */
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-left: 1px solid gray;
            border-top: 1px solid gray;

            .label {}

            .menu {
                /* display: block; */
                display: grid;
            }
        }
    }

    .item:hover {
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;

        &.active {
            /* background: var(--blue-dark);
            color: white; */
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-left: 1px solid gray;
            border-top: 1px solid gray;
        }
    }

    .menu {
        pointer-events: none;
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        flex-direction: column;
        grid-template-columns: 18px auto auto 15px 0px;

        background-color: #bdbebd;
        color: black;
        box-sizing: border-box;
        border-left: 1px solid var(--grey-98);
        border-top: 1px solid var(--grey-98);
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: 1px 1px 0 white inset, -1px -1px 0 rgb(128, 128, 128) inset;
        padding: 2px;

        .separator {
            border-top: 1px solid var(--shadow-98);
            border-bottom: 1px solid white;
            margin: 0px;
            margin-top: 2px;
            margin-bottom: 2px;
            grid-column: 1 / -1;
        }

        .menuItem {
            pointer-events: auto;
            /* display: flex; */
            display: contents;
            flex-direction: row;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 13px;
            position: relative;

            .menuItemCheck {
                grid-column: 1;
                display: flex;
                -moz-box-align: center;
                align-items: center;
                -moz-box-pack: center;
                justify-content: center;
                background: inherit;

                .icon {
                    width: 14px;
                    height: 14px;
                }
            }

            .menuItemLabel {
                white-space: nowrap;
                padding-right: 8px;
                grid-column: 2;
                background: inherit;
            }

            .menuItemLabel::first-letter {
                text-decoration: underline;
            }

            .menuItemHotkey {
                white-space: nowrap;
                grid-column: 3;
                padding-right: 2px;
                background: inherit;
            }

            .menuItemArrow {
                width: 15px;
                height: 18px;
                grid-column: 4;
                background: inherit;
            }

            >.menu {
                display: none;
                position: absolute;
                top: 0%;
                left: 100%;
            }


            &.disabled {
                /* color: rgb(122, 122, 122); */
                color: var(--shadow-98);
                text-shadow: 0.8px 0.8px 0px rgb(255, 255, 255);
            }

            &.more {
                >.menuItemArrow {
                    position: relative;
                    grid-column: 4;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    -moz-box-align: center;
                    align-items: center;
                    -moz-box-pack: center;
                    justify-content: center;
                }

                >.menuItemArrow::before {
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 3px 0px 3px 3px;
                    border-color: transparent transparent transparent rgb(0, 0, 0);
                    content: "";
                    display: block;
                }

            }

            &.active {
                background: var(--blue-dark) !important;
                color: white;
                text-shadow: none;

                >.menuItemArrow::before {
                    border-color: transparent transparent transparent white;
                }

                >.menu {
                    display: grid;

                    .menuItem {
                        >.menu {
                            top: unset;
                            bottom: -2px;
                        }

                        &.active {
                            >.menu {
                                .menuItem {
                                    >.menu {
                                        top: 0px;
                                        bottom: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}



.windowContainer {
    height: 100%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    user-select: text;


    .welcomeTitle {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        .small {
            font-size: 25px;
        }

        .smaller {
            font-size: 10px;
            font-weight: normal;
        }
    }

    .content {
        flex-grow: 1;
        background-color: white;
        color: black;
        font-family: 'Microsoft', 'sans-serif';
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        user-select: text;
        overflow-y: auto;

        .title {
            margin-top: 25px;
            font-size: 20px;
            user-select: text;
        }

        .text {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
            user-select: text;

            .link {
                color: blue;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .windowContainer {
        .link:hover {
            color: darkblue !important;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (hover: none) {
    .windowContainer {
        .welcomeTitle {
            .small {
                display: block;
            }

            .smaller {
                /* font-size: 10px; */
                display: block;
                margin-top: -10px;
                margin-bottom: -10px;
            }
        }

    }
}




.aboutMeContainer {
    height: 100%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    user-select: text;


    .mainTitle {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        .small {
            font-size: 30px;
            margin-right: -7px;
        }
    }

    .content {
        flex-grow: 1;
        background-color: white;
        color: black;
        font-family: 'Microsoft', 'sans-serif';
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        user-select: text;
        overflow-y: auto;

        .title {
            margin-top: 25px;
            margin-bottom: 15px;
            font-size: 20px;
            user-select: text;
        }

        .text {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
            user-select: text;
        }

        .name {
            margin-top: 5px;
            margin-left: 15px;
            font-size: 20px;
            user-select: text;
        }
    }
}




.contactContainer {
    height: 100%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    user-select: text;


    .mainTitle {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        .small {
            font-size: 30px;
            margin-right: -7px;
        }
    }

    .content {
        flex-grow: 1;
        /* background-color: white; */
        color: black;
        font-family: 'Microsoft', 'sans-serif';
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        user-select: text;
        overflow-y: auto;

        display: flex;
        justify-content: center;

        .label {
            margin-top: 12px;
            margin-bottom: 5px;
            font-size: 17px;
            user-select: text;
        }

        .input {
            width: 300px;
        }

        .textarea {
            width: 300px;
            height: 300px;
        }

        .button {
            display: inline-block;
        }
    }
}

@media (hover: none) {
    .contactContainer {
        .centerDiv {
            width: 100%;
        }

        .mainTitle {
            font-size: 30px;
            margin-bottom: 7px;

            .small {
                font-size: 20px;
                display: block;
                margin-bottom: -7px;

            }
        }

        .content {
            .label {}

            .input {
                width: 100%;
            }

            .textarea {
                width: 100%;
                height: 200px;
            }

            .button {
                margin-bottom: 10px;
            }
        }
    }
}




.cmdContainer {
    height: 100%;
    width: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    user-select: text;

    .content {
        flex-grow: 1;
        background-color: black;
        color: #b5bdbc;
        /* font-family: 'Microsoft', 'sans-serif'; */
        font-family: 'DOS', 'monospace';
        user-select: text;
        overflow-y: auto;
        padding: 3px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        .output {
            font-size: 15px;
            line-height: 20px;
            font-family: 'DOS', 'monospace';
            user-select: text;
            white-space: pre-wrap;
            color: inherit;

        }

        .inputContainer {
            display: flex;
            align-items: center;
            color: inherit;

            .input {
                color: inherit;
                font-size: 15px;
                line-height: 20px;
                font-family: 'DOS', 'monospace';

                flex: 1;
                outline: none;
                border: none;
                background-color: transparent;
                /* word-break: break-word; */
                word-break: break-all;
                resize: none;
                overflow-y: auto;
                height: auto;

                cursor: default;
            }
        }
    }
}




.popopContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        color: black;
        margin: 5px;
        flex-grow: 1;
    }

    .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;

        .buttonContainer {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .buttonContainer>*:not(:first-child) {
            margin-left: 5px;
        }
        .buttonContainer > * {
            /* padding-left: 5px;
            padding-right: 5px;
             */
             min-width: 75px;
             >.buttonContent {
                 justify-content: center;
             }
        }
    }
}


.notepadContainer {
    height: 100%;
    width: 100%;
    padding: 2px 3px 3px 2px;
    display: flex;
    flex-direction: column;

    .textAreaContainer {
        user-select: text;
        /* border: 1px solid red; */
        border-style: solid;
        border-width: 1px;
        border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255) rgb(128, 128, 128);
        background-color: rgb(192, 192, 192);
        color: rgb(32, 32, 32);
        height: 100%;

        .textArea {
            background: white;
            color: black;
            width: 100%;
            height: 100%;
            resize: none;
            outline: none;
            padding: 0;
            border: 0;
            padding: 2px;
            box-sizing: border-box;
            cursor: auto;
            overflow: scroll;

            white-space: pre;
            overflow-x: scroll;
            font-family: "Fixedsys Excelsior", "FixedSys", monospace;
            font-size: 16px;
            font-weight: 100;

            &.wrap {
                white-space: pre-wrap;
            }

        }
    }
}

.notepadWarning {
    display: flex;
    align-items: center;

    >.img {
        margin: 7px;
    }

    >.text {
        margin: 5px;
    }
}