/* WelcomeWindow */
.aboutMeContainer {
    height: 100%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    user-select: text;
    

    .mainTitle {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        .small {
            font-size: 30px;
            margin-right: -7px;
        }
    }
    .content {
        flex-grow: 1;
        background-color: white;
        color: black;
        font-family: 'Microsoft', 'sans-serif';
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        user-select: text;
        overflow-y: auto;

        .title {
            margin-top: 25px;
            margin-bottom: 15px;
            font-size: 20px;
            user-select: text;
        }
        .text {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
            user-select: text;
        }
        .name {
            margin-top: 5px;
            margin-left: 15px;
            font-size: 20px;
            user-select: text;
        }
    }
}
