/* WelcomeWindow */
.windowContainer {
    height: 100%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    user-select: text;


    .welcomeTitle {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        .small {
            font-size: 25px;
        }

        .smaller {
            font-size: 10px;
            font-weight: normal;
        }
    }

    .content {
        flex-grow: 1;
        background-color: white;
        color: black;
        font-family: 'Microsoft', 'sans-serif';
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        user-select: text;
        overflow-y: auto;

        .title {
            margin-top: 25px;
            font-size: 20px;
            user-select: text;
        }

        .text {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
            user-select: text;

            .link {
                color: blue;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .windowContainer {
        .link:hover {
            color: darkblue !important;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (hover: none) {
    .windowContainer {


        .welcomeTitle {

            .small {
                display: block;
            }

            .smaller {
                /* font-size: 10px; */
                display: block;
                margin-top: -10px;
                margin-bottom: -10px;
            }
        }

    }
}